ul, ol {
    list-style-type: none;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
}
.basis-of-styles {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

.logo {
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
line-height: 1.17;
margin-right: 76px;
display: inline-block;
    margin-bottom: 16px;
}


.page-nav {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.02em;
        color: #2e2f42;
        display: flex;
        gap: 40px;
}
.page-address {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.02em;
        color: #434455;
        font-style:normal;
}
.text-with-button {
    line-height: 1.07;
    background: #2e2f42;
    padding: 188px 0;
}
.title-header {
font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
}
.button {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.04em;
        color: #fff;
}
.li-benefits {
    width: calc((100% - 72px) / 4);
}
.text-benefits {
    display: flex;
    gap: 24px;

}
.text-benefits-p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
    line-height: 1.5;
}
.text-benefits-h {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        letter-spacing: 0.02em;
        color: #2e2f42;
        line-height: 1.2;
        margin-bottom: 8px;
}
.page-our-team {
    background: #f4f4fd;
    padding: 120px 0;
}
.head-our-team {
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2e2f42;
        line-height: 1.11;
        margin-bottom: 72px;
}
.name-our-team {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        line-height: 1.2;
        text-align: center;
        margin-bottom: 8px;
}
.text-our-team {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
        line-height: 1.5;
        text-align: center;
}
.head-our-portfolio {
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2e2f42;
        line-height: 1.11;
        margin-bottom: 72px;
}
.name-our-portfolio {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        letter-spacing: 0.02em;
        color: #2e2f42;
        line-height: 1.2;
        margin-bottom: 8px;
}
 .text-our-portfolio {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.02em;
        color: #434455;
        line-height: 1.5;
 }
 .page-footer {
    background: #2e2f42;
    padding: 100px 0;
 }
 .container-f{
    display: inline-block;
     margin-bottom: 16px;
    justify-content: space-between;
        align-items: center;
        width: 1158px;
        margin: 0 auto;
        padding: 0 15px;
 }
 .text-footer {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        line-height: 1.5;
        max-width: 264px;
 }
 span {
    color:#2e2f42;
 }
.link-nav {
    line-height: 1.5;
    color: #2e2f42;
    padding: 24px 0;
}
.link-nav:hover,
.link-nav:focus {
    color:#404bbf;
}
.nav-address {
    color:#434455;
    line-height: 1.5;
}
.nav-address:hover,
.nav-address:focus {
    color:#404bbf;
}
.button-header {
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
}
.button-header:hover,
.button-header:focus {
    background-color: #404BBF;
}
.li-our-team {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.logo-span {
    color: #f4f4fd;
}
img {
    display: block;
}
.headeroll {
border-bottom: 1px solid #e7e9fc;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.nav-class {
    display: flex;
    align-items: center;
}
.address-menu {
    display: flex;
    gap: 40px;
}
.second-sec {
    padding: 120px 0;
    
}
.visually-hidden {
position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.ul-our-team {
    display: flex;
    gap: 24px;

}
.div-our-team {
    padding: 32px 0;

}
.our-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}
.ul-our-portfolio {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.li-ul-our-portfolio {
    width: calc((100% - 48px) / 3);

}
.div-our-portfolio {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    
}